<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-2" src="https://png.pngtree.com/png-clipart/20210704/original/pngtree-stylish-and-simple-vegetable-pizza-social-media-ads-png-image_6487233.jpg" alt="" width="72" height="57">
          <h1 class="display-5 fw-bold text-body-emphasis">Pizza</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">The history of pizza can be traced back to ancient cultures that made flatbreads with toppings. The pizza we know today originated in Naples, Italy in the 18th century.Ancient origins
              The ancient Egyptians, Romans, and Greeks all ate flatbreads with toppings. The Romans called a flatbread with toppings panis focacius, which is a precursor to pizza</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">View Orders</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Cart</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>