<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">

        <div class="position-absolute  start-50">
            <form  class="col-lg-6" >
                <div class="mb-3">
                        <input id="itemname"  type="text" class="form-control" placeholder="item name">
                </div>
                <div class="mb-3">
                        <input id="itemprice" type="text" class="form-control" placeholder="item price">
                      </div>
                      <div class="mb-3">
                        <input id="itemdescription" type="text" class="form-control" placeholder="item description">
                      </div>
                      <div class="mb-3">
                      <button  class="btn btn-primary w-100 py-2" (click)="savepizza()" >Add to market</button>
                      </div>
            </form>
        </div>
    </div>
    <div class="row">
        <img style="width: 30%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHr4FiIslJFTrLxaoRgE1djF3rTfgBDS-kOw&s" alt="img"/>
    </div>
    
</body>
</html>